*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */ 
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --gray_blue: hsl(218, 22%, 67%);
  /* Font */
  --font: 'Karla', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eff6;
}

.card--container {
  max-width: 90%;
  width: 800px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "community community"
                       "subscription why-us";

  
  border-radius: 10px;
  box-shadow: 3px 3px 20px grey;
}

.community {
  grid-area: community;
  padding: 2.5em;
  background-color: white;
}

.community__title {
  color: var(--cyan);
  margin-bottom: 1.25em;
}
.community__subtitle{
  color: var(--yellow);
  margin-bottom: calc(1.25em/2);
}
.community__description {
  color: var(--gray_blue);
  margin-right:10em;
  font-weight: 400;
  line-height: 1.5;
}

.subscription {
  background-color: var(--cyan);

  padding: 2.5em;
  color: var(--gray);

  
}

.subscription__title {
  margin-bottom: 1.25em;
 
}

.money {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.grey {
  font-size: .4em;
  display: inline-block;
  margin-left: 25px;
  

}

.subscription__description {
  margin-bottom: 1.25rem;
}

.subscription__btn {
  width: calc(100% - 40px);
  font-family: var(--font);
  font-weight: 700;
  color: white;
  border: none;
  background-color: var(--yellow);
  font-size:  1rem;
  padding: 1.125em 0;
  border-radius: 7px;
}

.us {
  color: white;
  background-color: hsl(179, 47%, 52%);
  padding: 2.5em;
}

.us__title {
  margin-bottom: 1.25em;
}

.us__list {
  list-style: none;
}

.us__item {
  color: var(--gray);
  font-size:  0.875rem;
  margin-bottom: 0.5em;
  font-weight: 400;
}

@media screen and (max-width: 775px){
  .card--container {
    max-width: 375px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .community__description {
    margin-right: 0;
  }
}





